/* .addTodo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTodo input{
width: 250px;
height: 30px;
}

.addTodo button {
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
} */