.headerTitle {
    width: 100%;
    background: lightskyblue;
    padding: 15px 0 15px;

    h3 {
        font-size: 25px;
        font-weight: 600;
        color: whitesmoke;
        padding-left: 2vw;
    }
}